APP_NAME="PT. Pelayaran Nasional Radhika Bahari Nusantara"
APP_ENV=production
APP_KEY=base64:0l6oT3gbo2MsR5T4h8EDeHVaJ4EGCtLxqVoXOXQrxGY=
APP_DEBUG=false
APP_URL=https://ptrbn.co.id

# Supabase PostgreSQL Database Connection
DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.YOUR_SUPABASE_PROJECT_REF
DB_PASSWORD=YOUR_SUPABASE_DB_PASSWORD
DB_SSLMODE=require

# Caching & Queue
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file

# Mail Credentials
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@ptrbn.co.id"
MAIL_FROM_NAME=""
